<template>
  <v-app id="inspire">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar dark color="primary">
                <v-toolbar-title>Iniciar Sesión</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-form v-model="valid">
                  <v-text-field v-model="email" :rules="emailRules" prepend-icon="person" name="email" label="Usuario" type="email"></v-text-field>
                  <v-text-field v-model="password" :rules="passwordRules" id="password" prepend-icon="lock" name="password" label="Contraseña " type="password"></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn v-on:click="onSubmit" color="primary">Iniciar Sesión</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
    data: () => ({
      valid: false,
      password: '',
      passwordRules: [
        v => !!v || 'La contraseña es necesaria',
      ],
      email: '',
      emailRules: [
        v => !!v || 'El usuario es necesario',
        v => /.+@.+/.test(v) || 'El usuario no es valido'
      ]
    }),
    async asyncData({ app }) {
        const user = await app.$axios.$get('api/me');
        return { user };
    },
    methods: {
      onSubmit: function(event){
        if(this.valid){
          const data = {
            email: this.email,
            password: this.password,
          };
          console.log(data);
        }
      }
    }

};
</script>