<template>
        <tables></tables>
</template>

<script>
  import tables from "../../../components/tables.vue"

  export default {
    middleware: 'clients',
    layout: 'dashboard',
    components: {
      tables
    },
    data: () => ({
    }),
    methods: {
    },
    mounted: () => {
    }
  }
</script>